/* CardGrid.css */

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
    gap: 16px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
  }
  
  .card h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .card p {
    font-size: 14px;
    margin: 8px 0;
  }
  /* Container for pagination */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
  }
  
  /* Pagination list items */
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
  }
  
  /* Pagination links */
  .pagination a {
    text-decoration: none;
    color: #007bff; /* Change link color to a primary color */
    font-weight: bold;
    padding: 8px 12px; /* Slightly increase padding for a larger click area */
 /* Increase border thickness */
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s; /* Add smooth transition effect */
  }
  

  

  

  
  /* Disabled pagination links */
  .pagination .disabled a {
    cursor: not-allowed;
    opacity: 0.5;
  }
  